/*courier-new font*/

/*********************** Calendario ***********************/

div#date {
    margin: 15px 0 20px 0;
}

.ui-widget.ui-widget-content {
    width: 100%;
    margin: 0 auto;
    height: 302px;
}

.ui-datepicker td span, .ui-datepicker td a {
    text-align: center;
    height: 35px;
    line-height: 30px;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    color: #000;
    background-color: #fff;
    border: 1px solid #ff6000;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    background-color: #e4e4e4;
}

.ui-datepicker .ui-datepicker-header {
    background-color: #ff6000;
    color: #fff;
}

.ui-widget.ui-widget-content {
    border: 0;
}

.ui-widget.ui-widget-content[role=dialog] {
    border: 1px solid #ff6000;
}

.ui-state-hover, .ui-widget-content .ui-state-hover {
    background-color: #fff;
}

.ui-state-default.ui-state-hover {
    border: 1px solid black;
}

.ui-dialog-titlebar {
    background-color: #ff6000;
    color: #fff;
}

.ui-dialog-titlebar button:active { 
    background-color: #ff6000;
    color: white;
    border: 0;
}

.linked-dialog.ui-dialog .ui-dialog-content p {
    border-bottom: 1px solid #ff6000;
    font-weight: bold;
}


/*********************** Página principal ***********************/

div#main h1 {
    font-size: 2.2rem;
}

.movie-container {
    margin-top: 30px;
    box-shadow: 0 0 10px 2px #ff6000; 
}

#movies-section > div.row {
    margin-left: 0;
    margin-right: 0;
}

div.movie-container div[data-poster] {
    padding-top: 7px;
}

div.movie-container:hover {
    box-shadow: 0 0 30px 12px #ff6000;
    transition: 0.5s;
    cursor: pointer;
}

div.movie-container {
    font-weight: bold;
    transition: 0.5s;
}

div.row.movie-card {
    position: relative;
}

div.preloader.preloader-movie {
    position: absolute;
    top: 45%;
    left: 48%;
}

i.material-icons.alarm {
    color: #ff6000;
    font-size: 3em;
    float: right;
    cursor: pointer;
}

div.general-synopsis {
    height: 125px;
    overflow: auto;
}

.no-titlebar .ui-dialog-titlebar {
    display: none;
}

.info-movie .row .col {
    padding-top: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.info-movie h1 {
    font-size: 2.2rem;
    margin: 0 0 30px 0;
    border-bottom: 2px solid #ff6000;
    display: inline-block;
}

.info-movie img {
    height: 380px;
    margin-top: 20px;
}

.info-cast {
    height: 50px;
    overflow: auto;
}

.row .no-margin-bottom {
    margin-bottom: 0;
}

.info-synopsis {
    height: 114px;
    overflow: auto;
}

span.info-close {
    cursor: pointer;
    float: right;
    font-size: 1.5em;
}

.orange-text2 {
    color: #ff6000;   
}

.orange-background {
    background-color: #ff6000;
}

.ui-widget-overlay {
    background: #000;
    opacity: .8;
}

nav {
    font-weight: bold;
}

/*********************** Administración ***********************/

#admin-table th {
    text-align: center;
}

#admin-table tr:nth-child(even) {
    background-color: #ececec;
}

.preloader, #show-more-users, #show-more-movies {
    display: none;
}

#show-more-users .preloader-wrapper, #show-more-movies .preloader-wrapper {
    left: 48%;
}

.spinner-green, .spinner-green-only {
    border-color: #ff6000;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 1px solid #ff6000;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ff6000;
    box-shadow: 0 1px 0 0 #ff6000;
}